body {
  /*background: -webkit-linear-gradient(90deg, #FC354C 10%, #0ABFBC 90%); 
  background:    -moz-linear-gradient(90deg, #FC354C 10%, #0ABFBC 90%);
  background:     -ms-linear-gradient(90deg, #FC354C 10%, #0ABFBC 90%); 
  background:      -o-linear-gradient(90deg, #FC354C 10%, #0ABFBC 90%); 
  background:         linear-gradient(90deg, #FC354C 10%, #0ABFBC 90%);  W3C */
background: url("http://api.ning.com/files/MXekbi0HELhDur1Wv8-OF7eeRvheoP20j*auDoTnxXzuXrRpEkj41LXurjfMRUrrRDBfKVFZBI99Uwo*-gD4Jw5068kenVyb/d67294e559eba7ebe52ef37c6d2d5bf2.jpg");
  /* Background taken from Wikipedia */
}
#center {
   text-align: center;
}
h3 {
  position: absolute;
  top: 200px;
  color: White;
  text-shadow: 0pt 1pt 5pt black;
   font-family: 'Open Sans', sans-serif;
   
   bottom: 0;
  left: 0;
  right: 0;
}


h1 {  
    height: 25%;
    position: absolute;
    text-shadow: 0pt 1pt 5pt black;
    color: White;
    position: absolute;
    top: 150px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}
